<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to AUCmail</title>
<link href="/wizard_media/css/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/wizard_media/js/jquery.js"></script>
<script type="text/javascript" src="/wizard_media/js/user_mobile.js"></script>
<style type="text/css">
<!--
.colored-text {color: #990000}
.small-text {font-size: 10px}
-->
</style>
</head>

<body>
    <div id="page">
      <div id="header">
        	<div id="header-left">
				<div id="logo">               
                </div>
            </div><!--header-left-->
            <div id="header-right-1">
            </div>
            
        </div><!--header-->
        <div id="below-header">
        	<div id="below-header-left">
            	<div class="page-title2">What’s your choice?</div>
          </div>
            <div id="below-header-right">
            	<div class="header-text">
            	  <div align="justify">AUC and Google have formed a partnership to enhance communication with new technologies. This conversion program will convert your old-style AUC email account and its e-mail contents to the new <a href="">AUCmail powered by Google</a>. 
           	    Follow the simple instructions, and you will soon have an array of new tools at your fingertips. </div>
            	</div>
          </div>
        </div> <!--below-header-->
        
        <div id="login-container">
        	<div id="login">
        		<div id="login-left-line2">
                    <div id="login-bottom-left-corner2">
                        <div id="login-bottom-right-corner2">
                            <div id="welcome">Welcome</div> 
                            <div id="user"> {{username}}</div>
                        </div>
                    </div>
            	</div>
       		</div>
   			<div class="clear-left"></div>
            <div id="feedback"><a href="/wizard/feedback/">&nbsp;</a></div>
            <div id="faqs"><a href="/wizard/faqs/">&nbsp;</a></div>
            <div id="logout"><a href="/wizard/logout/">&nbsp;</a></div>
        </div>
        
        
        <div id="main-page">
        <div id="note-bar">
        	<div id="note-bar-right-line">
            	<div id="note-bar-bottom-line">
                	<div id="note-bar-left-line">
                    	<div id="note-bar-left-top">
                        	<div id="note-bar-right-top">
                           	  <div id="note-bar-right-bottom">
                               	  <div id="note-bar-left-bottom">
                                      If you use a client program like Outlook, Eudora or Entourage <br />you will need to do one extra step. We will send you <br />an e-mail later to tell you how to do that.
                               	  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
   		<table width="720px" border="0" cellspacing="10" id="main-table">
  <tr>
    <td width="50%" rowspan="2" class="main-right">
        
          
              <div id="phone-number-top-line">
                <div id="phone-number-right-line">
                    <div id="phone-number-bottom-line">
                        <div id="phone-number-left-line">
                            <div id="phone-number-top-left">
                                <div id="phone-number-top-right">
                                  <div id="phone-number-bottom-right">
                                      <div id="phone-number-bottom-left">
																				<span class="colored-text"><br /> Optional:</span> If you want a <span class="colored-text">text message</span> sent to your phone when the move is finished, please fill in the form below <span ><br />
                                      	<span class="small-text colored-text">"e.g. 0123456789"</span>  <br />
                                      	<span class="small-text colored-text">Note: </span>If you want to change your phone number, type it in and click submit again.
                                      	<div id="phone-number-title">
                                        Phone Number
                                        </div>
                                        <form id='mobile-form' method='post'>
                                          <input id="phone-num" name="phone-number" type="text"  />
                                          <input style="border:0;" id="submit-button" name="submit" type="submit" value="" /> 
                                       
                                          <div style="display:none;" id='valid-num'> 
                                          	<div class="phone-num-icon"></div> 
                                          	<div class="phone-num-validation-text">Saved</div>
                                          </div>
                                          <div style="display:none;" id='invalid-num' >
                                          	<div class="phone-num-icon"></div> 
                                            <div class="phone-num-validation-text">Invalid</div>
                                          </div>
                                           
                                            <br class="clear" />
                                        
                                        </form>
                      				</div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </td>
    <td class="main-left">
	<div id="choice-top-line">
                <div id="choice-right-line">
                    <div id="choice-bottom-line">
                        <div id="choice-left-line">
                            <div id="choice-top-left">
                                <div id="choice-top-right">
                                  <div id="choice-bottom-right">
                                      <div id="choice-bottom-left">
	<div id="choice1-text">
		<p>To prepare your mailbox <br /> <br />  for the move</p>
            <p id="green-text"> 
            Click Here                </p>
           	  </div>
<div id="choice-made-button">
          <a href="/wizard/migrate/" >&nbsp;</a>          </div>
 <br class="clear" />
									</div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</td>

  </tr>
</table>

</div>            	
                  
        
        <br class="clear"/>
        
      <div id="footer">
        <div id="footer-text">Developed by </div>
        <div id="open-craft-logo"><a href="http://www.open-craft.com"> &nbsp;</a></div>
        <div id="auc-footer"><strong>The American University in Cairo, 113 Kasr El Aini St., P.O. Box 2511, Cairo, 11511, Egypt.</strong> Telephone: 20.2.2615.1000 Fax: 20.2.2795.7565 <br />
          <a href='http://www.aucegypt.edu/aboutauc/nyoffice/Pages/default.aspx'><strong>New York Office: 420 Fifth Avenue, Third Floor, New York, NY 10018-2729. </strong></a>Telephone: 1.212.730.8800 Fax: 1.212.730.1600        </div>
      </div>
       
    </div><!--page-->
    
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2385745-6");
        pageTracker._trackPageview();
      </script>

</body>
</html>
