<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to AUCmail</title>
<link href="/wizard_media/css/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"  src="/wizard_media/js/jquery.js"></script>
<script type="text/javascript" src="/wizard_media/js/expantion.js"></script>
<style type="text/css">
<!--
.style2 {
	color: #CCA147;
	font-size: 19px;
}
.style3 {font-size: 12px}
-->
</style>
</head>


<body>
    <div id="page">
       <div id="header">
        	<div id="header-left">
				<div id="logo">               
                </div>
            </div><!--header-left-->
            <div id="header-right-4">
            </div>
            
        </div><!--header-->
        <div id="below-header">
        	<div id="below-header-left">
            	<div class="page-title2">Mission Successful</div>
          </div>
            <div id="below-header-right">
            	<div class="header-text">
            	  <div align="justify">Congratulations, your AUCmail is ready. 
                  You can start using it right now by clicking on the blue button below. Or you can go to it at any time by pointing your browser to <a href="http://mail.aucegypt.edu"> mail.aucegypt.edu</a>. You can also take a tour of Google Apps in order to check out the benifits that you will have with your new email. 
                  </div>
            	</div>
          </div>
        </div> <!--below-header-->
        
        <div id="login-container">
        	<div id="login">
        		<div id="login-left-line2">
                    <div id="login-bottom-left-corner2">
                        <div id="login-bottom-right-corner2">
                            <div id="welcome">Welcome</div> 
                            <div id="user"> {{username}}</div>
                        </div>
                    </div>
            	</div>
       		</div>
   			<div class="clear-left"></div>
            <div id="feedback"><a href="/wizard/feedback/">&nbsp;</a></div>
            <div id="faqs"><a href="/wizard/faqs/">&nbsp;</a></div>
            <div id="Email-forw"><a href="/wizard/faqs/#_Toc207874404">&nbsp;</a></div>
            <div id="third-party"><a href="/wizard/faqs/#_Toc207874416">&nbsp;</a></div>
        </div>
        
        
      <div id="main-page">
           <div id="note-bar">
        	<div id="note-bar-right-line">
            	<div id="note-bar-bottom-line">
                	<div id="note-bar-left-line">
                    	<div id="note-bar-left-top">
                        	<div id="note-bar-right-top">
                           	  <div id="note-bar-right-bottom">
                              
                               	  <div id="note-bar-left-bottom">If you use a client program like Outlook, Eudora or Entourage you will need to follow the instructions <a href="/wizard/faqs/#_Toc207874416" style="display:inline">here</a>. Also, your Blackberry delivery will not work until you reconfigure your device.</div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table width="710px" border="0" cellspacing="0" id="main-table">
  <tr>
    <td class="main-left">
	<div id="choice1-text">
    	<div id="big-blue-text">Congratulations</div>
        <div class="normal-text">Your AUCmail account <br />
          is ready to use</div>
       	  </div> 
</td>
    <td width="50%" class="main-right">
    		<div id="choice2-text">
            <div id="big-green-text">Take a Tour
            </div>
            <div class="normal-text">of Google Apps</div>
                
                
                </div></td>
  </tr>
  <tr>
    <td class="main-left">
    	
          <div id="choice1-button">
          	<a href="http://mail.aucegypt.edu" >&nbsp;</a>
          </div>
          
          <div id="logout-text">
          <span class="style2">Or just Logout </span><br />
	  <span class="style3">for now</span>
		           </div>
          <div id="choice-logout-button">
          	<a href="/wizard/logout/">&nbsp;</a>
          </div>
      
    </td>
    
    <td width="50%" class="main-right">
        
          <div id="choice2-button">
          <a href="http://services.google.com/apps/resources/overviews/welcome/topicMail/index.html" target="_blank">&nbsp;</a>
          </div>
       
        
    </td>
  </tr>
</table>

      </div>
      <div id="footer">
        <div id="footer-text">Developed by </div>
        <div id="open-craft-logo"><a href="http://www.open-craft.com"> &nbsp;</a></div>
        <div id="auc-footer"><strong>The American University in Cairo, 113 Kasr El Aini St., P.O. Box 2511, Cairo, 11511, Egypt.</strong> Telephone: 20.2.2615.1000 Fax: 20.2.2795.7565 <br />
          <a href='http://www.aucegypt.edu/aboutauc/nyoffice/Pages/default.aspx'><strong>New York Office: 420 Fifth Avenue, Third Floor, New York, NY 10018-2729. </strong></a>Telephone: 1.212.730.8800 Fax: 1.212.730.1600        </div>
      </div>
    </div><!--page-->
    
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2385745-6");
        pageTracker._trackPageview();
      </script>
</body>
</html>
