<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Administration Page</title>
<script type="text/javascript" src="/wizard_media/js/jquery.js"></script>
<script type="text/javascript" src="/wizard_media/js/validation.js"></script>



<link href="/wizard_media/css/admin-style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="page-inner" >
        <div id="header">
        	<div id ="header-right">
              <div id="logo">              </div>
              <div id="text">
              <div id="users-count"><span id="num-title">Number of users:</span>{% if user_count %}{{user_count}} {% endif %}</div> 	
                            
              </div>
          </div>
  	  </div>
        
        <div id="container">
       	  <div id="left-sidebar">
          
              <div id="page-title">
                    Administration Page            </div>
                <div id="menu-container">
                
                	<br class="clear"/>
                    <li class="head">
                            <a href="/wizard/admin/list/1/">All users</a>                    </li>
                    <li class="head">
                       <a href="/wizard/admin/fwd_add/1">Fwd addresses</a>                    </li>
                    <li class="head"> States
                        <ul class="main-menu"> 
                            <li><a href="/wizard/admin/done_state/1">Done state</a></li>
                            <li><a href="/wizard/admin/failed_state/1">Failed state</a></li>
                            <li><a href="/wizard/admin/notstarted/1">Not started state</a></li>
                            <li><a href="/wizard/admin/inqueue/1">Currently queued</a></li>
                            <li><a href="/wizard/admin/inprogress/1">In progress state</a></li>
                        </ul>
                    </li>
                    <li class="head"> <a href="/wizard/logout/">Logout</a> </li>               
                </div>
          </div>
            
          <div id="main-page">
          	<div id="main-page-top">
            	<div id="subpage-title">{{report_title}}{% if report_state %} {{report_state}} {%endif%} </div>
              
			  <form id="search-form"action="/wizard/admin/search/1/" method="post">
            			<div id="search_item">
                    		<input class="submit-button" type="submit" value="" />
          					<input class="submit-input" type="text" name="search_item" value="" />
                      	</div>
			  </form>
                
         	</div>
                         
<div id="results-container" class="clear">
              
    			{% block content %}{% endblock %}  
              </div> 
          </div>	
        </div>
    </div>
</body>
</html>
