 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to AUCmail</title>
<link href="/wizard_media/css/style2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/wizard_media/js/jquery.js"></script>
<script type="text/javascript" src="/wizard_media/js/user_feedback.js"></script>
<style type="text/css">
<!--
.colored-text {color: #990000}
-->
</style>
</head>

<body>
    <div id="page">
      <div id="header">
        	<div id="header-left">
				<div id="logo">               
                </div>
            </div><!--header-left-->
            <div id="header-right">
            </div>
            
        </div><!--header-->
        <div id="below-header">
        	<div id="below-header-left">
            	<div class="page-title2">Your Feedback</div>
          </div>
            <div id="below-header-right">
            	<div class="header-text">
            	  <div align="justify">AUC and Google have formed a partnership to enhance communication with new technologies. This conversion program will convert your old-style AUC email account and its e-mail contents to the new <a href="">AUCmail powered by Google</a>. 
           	    Follow the simple instructions, and you will soon have an array of new tools at your fingertips. </div>
            	</div>
          </div>
        </div> <!--below-header-->
        
        <div id="login-container">
        	<div id="login">
        		<div id="login-left-line2">
                    <div id="login-bottom-left-corner2">
                        <div id="login-bottom-right-corner2">
                            <div id="welcome">Welcome</div> 
                            <div id="user"> {{username}}</div>
                        </div>
                    </div>
            	</div>
       		</div>
   			<div class="clear-left"></div>
            <div id="faqs"><a href="/wizard/faqs/">&nbsp;</a></div>
            <div id="logout"><a href="/wizard/logout/">&nbsp;</a></div>
        </div>
        
        
        <div id="main-page">
        
                  <div id="feedback-top-line">
                <div id="feedback-right-line">
                    <div id="feedback-bottom-line">
                        <div id="feedback-left-line">
                            <div id="feedback-top-left">
                                <div id="feedback-top-right">
                                  <div id="feedback-bottom-right">
                                      <div id="feedback-bottom-left">
                                        Please enter your <span class="colored-text">feeback</span> below
                                      	<div id="phone-number-title">
                                        Feeback </div>    
                                        <form id='feedback-form' method="post" action="">
                                          	<textarea name="feedback-value" id="feedback-textarea"></textarea>
                                            <input id="submit-button" type="submit" value=""/>
                                            <div style="display:none;" id='submitted-feedback-form'> 
                                              	<div class="feedback-valid-icon"></div> 
                                              	<div class="feedback-valid-text">Sent</div>
                                            </div>
                                          <div style="display:none" id='unsubmitted-feedback-form' >
                                          	<div class="feedback-invalid-icon"></div> 
                                            <div class="feedback-invalid-text">No text found </div>
                                          </div>
                                          <div id="back-button">
                                           <a href="/wizard/" >&nbsp;</a>
                                          </div>
                                          
                                            <br class="clear" />
                                        </form>
                                        </div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
                                     
                                

</div>            	
                  
        
        <br class="clear"/>
        
      <div id="footer">
        <div id="footer-text">Developed by </div>
        <div id="open-craft-logo"><a href="http://www.open-craft.com"> &nbsp;</a></div>
        <div id="auc-footer"><strong>The American University in Cairo, 113 Kasr El Aini St., P.O. Box 2511, Cairo, 11511, Egypt.</strong> Telephone: 20.2.2615.1000 Fax: 20.2.2795.7565 <br />
          <a href='http://www.aucegypt.edu/aboutauc/nyoffice/Pages/default.aspx'><strong>New York Office: 420 Fifth Avenue, Third Floor, New York, NY 10018-2729. </strong></a>Telephone: 1.212.730.8800 Fax: 1.212.730.1600        </div>
      </div>
       
    </div><!--page-->
    
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-2385745-6");
        pageTracker._trackPageview();
      </script>

</body>
</html>

